MyProject4/Saved/Logs/MyProject4.log
MyProject4/Saved/Autosaves/Game/Blueprints/MyCharacter_Auto4.uasset
MyProject4/Saved/Autosaves/Game/Maps/Basement_Auto1.umap
MyProject4/Saved/Autosaves/Game/Maps/Basement_Auto2.umap
MyProject4/Saved/Autosaves/Game/Maps/Basement_Auto3.umap
MyProject4/Saved/Autosaves/Game/Maps/Basement_Auto4.umap
MyProject4/Saved/Autosaves/Game/Maps/Basement_Auto7.umap
MyProject4/Saved/Autosaves/Game/Maps/Basement_Auto8.umap
MyProject4/Saved/Autosaves/Game/Maps/Basement_Auto9.umap
MyProject4/Saved/Config/Windows/EditorLayout.ini
MyProject4/Saved/Config/Windows/EditorUserSettings.ini
